footer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #EDEFEE;
    padding: 0% 10%;
    justify-content: space-between;
    align-items: center;

}

footer ul {
    list-style: none;
}

footer li,
footer li a {
    color: black;
}